.download-from {
  width: 100%;
  display: flex;

  .store {
    flex-basis: 40%;
    height: 43px;
    margin-right: 10px;

    // background-color: black;
    .google {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .apple {
      width: 90%;
      height: 98%;
      object-fit: contain;
    }
  }
}

.copyright {
  text-align: center;
}