.ant-layout-content {
  padding: 24px 50px;
  font-size: 14px;
  background: #f0f2f5;
}

.card-container p {
  margin: 0;
}

.card-container>.ant-tabs-card .ant-tabs-content {
  height: auto;
  margin-top: 0;
}

.card-container>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
  border-radius: 0.5em;
}

.ant-tabs-tab {
  border-radius: 20px;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
  border-radius: 0.5em;
}

.card-container>.ant-tabs-card>.ant-tabs-nav::before {
  display: none;
}

.card-container>.ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container>.ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.ant-card {
  margin: auto;
  border-radius: 0.5em;
}

.ant-card-meta-detail {
  text-align: center;
}

.ant-list-grid .ant-col>.ant-list-item {
  margin-bottom: 25px;
}

.card-container>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
  padding: 25px 16px;
}

.ant-list-pagination {
  margin-bottom: 24px;
  margin-top: 0;
  text-align: center;
}

.ant-card-cover {
  // height: 200px;

  img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type),
.ant-tabs-card.ant-tabs-bottom>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type),
.ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type),
.ant-tabs-card.ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type) {
  margin-right: 20px;
}