.detail-container {
  padding: 0 20px;
  margin-bottom: 30px;
}

.ant-divider-inner-text {
  padding: 0 1em 0 0;
  // font-weight: 700;
}

.ant-divider-horizontal.ant-divider-with-text-left::before {
  width: 0;
}