.top {
  margin: 0;
}

.social-media {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media li:not(:last-child) {
  margin-right: 10px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 50%;
  color: whitesmoke;
}

.fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.facebook {
  background: #3b5998;
}

.instagram {
  background: #ee4957;
}

.twitter {
  background: #55acee;
}

.pinterest {
  background: #E73D36;
}