.container {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    height: 100%;
}

.bannerdetail {
    // background-image: url('../../../img/5.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    height: 370px;
    width: 95%;
    margin: 0 auto;

    image {
        img {
            background-size: cover;
            margin: auto;
        }
    }

    .detail {
        width: 100%;

        .title {
            position: absolute;
            top: 20%;
            left: 5%;
            font-size: 30px;
            color: white;
        }

        .ratting {
            position: absolute;
            top: 30%;
            left: 5%;
            display: flex;

            p {
                margin: auto 10px;
                color: white;
            }
        }

        .desc {
            position: absolute;
            top: 40%;
            left: 5%;
            width: 50%;

            p {
                font-size: 12px;
                text-align: justify;
                color: white;
            }

        }

        .btn {
            position: absolute;
            top: 70%;
            left: 5%;

            button {
                margin: 10px;
            }
        }
    }

    .slick-slide {
        height: 320px;
        box-sizing: border-box;

        img {
            width: 100%;
            box-sizing: border-box;
        }
    }
}