.container {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    height: 100%;
}

.banner {
    position: relative;
    // height: 370px;
    width: 97%;
    margin: 0 auto;
    .slick-slide {
        height: 320px;
        box-sizing: border-box;
        img {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }
    }
}
