body {
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

.header {
    display: flex;
    width: 100%;
    .logo {
        width: 33%;
        justify-content: left;
        align-content: center;
        margin-left: 5%;
        img {
            width: 70px;
        }p {
            color: black;
            width: 100px;
            font-size: 20px;
            font-weight: bold;
        }
        
    }
    .src {
        width: 33%;
        justify-content: center;
        margin: auto;
    }


    .btn {
        width: 33%;
        margin: auto;
        justify-content: flex-end;
        button {
            width: 100px;
            font-size: 17px;
            margin-right: 10%;
            }
    }

    .profile {
        width: 33%;
        margin: auto;
        justify-content: flex-end;
        display: flex;
        img {
            width: 50px;
            justify-content: center;
        }
        .dop {
            display: inline;
        }
        :link {
            width: 300px;
            font-size: 25px;
            margin-right: 5%;
            }
        .user-name {
            font-size: 12px;
            display: inline
        }
    }
}
