$background: gray;

.body {
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 20px;
}

@mixin button {
    background-color: cyan;
    color: yellow;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}


.main{
    background-color: $background;
    height: 700px;
    width: 100%;    
}

.main button {
    @include button();
}