.register {
    h1 {
        font-size: 40px;
        font-weight: bold;
        margin: auto;
        width: 90%;
    }
    .container {
        // background-color: yellow;
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        .form-register {
            margin: 10px 30px;
            // background-color: turquoise;
            width: 50%;
            input {
                border: none;
            }
            Input.Password {
                border: none;
            }
        }
    }
} 